.offer-form input {
    margin-left: 10px !important;
    background-color: rgb(68, 69, 70) !important;
    color: white !important;
    display: block;
    width: 220px !important;
}

.offer-section {
    width: 100% !important;
}

.file-input {
    border: 1px solid white;
    width: 90%;
    font-size: 10px;
}

.offer-form label {
    color: black;
    font-size: 1rem;
}

.long-text {
    text-align: center !important;
}

@media (max-width: 640px) {
    .offer-form label, input {font-size: 16px;}
    .offer-form input {width: 75% !important;}
}