input {
    margin-left: 10px !important;
    background-color: rgb(68, 69, 70) !important;
}

label {
    color: black;
}

.seller-offer-form{
    text-align: left !important;
}

.terms {
    text-align: center !important;
}