input {
    margin-left: 10px !important;
    background-color: rgb(68, 69, 70) !important;
}

label {
    color: black;
}

.seller-offer-form table, tr, td {
    text-align: left !important;
}

.terms, .terms td {
    text-align: center !important;
}