table {
    width: 80%;
    margin: auto;
}

tr {
    height: 20px;
}

td {
    width: 50%;
}

td:first-child {
    text-align: right;
}

.radio-tr td:first-child {
    text-align: left;
}

label {
    margin: 5px 0 0 10px;
}

input {
    margin: 10px 0;
}

td p {
    color: black !important;
    text-align: center;
}

.table-title {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 20px 0 5px 0;
}